# Python Full Course

In [1]:
print("Hello, World!")

Hello, World!

# Data Types

In [2]:
name = "John"
type(name) # string type

str

In [3]:
num = 1
type(num) # integer type

int

In [4]:
num = 1.5
type(num) # floating Type

float

In [6]:
# Assigning the variable
age = 25
name = "Bharath"
height = 5.8

print(f"Hello {name} Your age is {age} and your height is {height}")

Hello Bharath Your age is 25 and your height is 5.8

In [10]:
# Assigning the multiple values

a = b = c=10
print(a)
print(b)
print(c)

a,b,c = 10, 15, 20
print(a,b,c)

10
10
10
10 15 20

# python arithamatic operators

In [16]:
a = 10
b = 5

add = a + b
print(add)     # addition
sub = a - b
print(sub)     # subtraction
mul = a * b
print(mul)     # multiplication
div = a / b
print(div)     # division
modu = a // b
print(modu)    # integer division

15
5
50
2.0
2

# Python assignment Operators

In [13]:
x = 10
print(x)
x +=  2
print(x)
x -= 29
print(x)
x *= 12
print(x)
x /= 3
print(x)

10
12
-17
-204
-68.0

# python logical operators

In [20]:
x = 15
y = 16 

print(x == y)  # equal operator
print(x != y)  # Not equal operator

print(x == 15 and y != 16) # and operator 
print(x == 15 or y != 16) # or operator 

10 is not 10

False
True
False
True

<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-20-4090796311e5>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not 10

False

#

# Data types

In [7]:
# Strings
string = "abcdefgh"
print(len(string))

print(string[0])  # index
print(string[0:4]) # slicing
print(string[4:])
print(string[:-1]) # reverse slicing

string.replace("f","g")  # replace the letter

8
a
abcd
efgh
abcdefg

'abcdeggh'

In [13]:
# tuples

weeks = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print(weeks)
print(type(weeks))

print(weeks[3])

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
<class 'tuple'>
Wednesday

In [21]:
# lists

months = ["January", "Febraury", "March", "April", "May", "June", "July"]
print(type(months))

months[3] = "Summer"
months.append("August")
months

<class 'list'>

['January', 'Febraury', 'March', 'Summer', 'May', 'June', 'July', 'August']

In [28]:
# Dictionaries  

salaries = {"Bharath":25, "Govind":23, "Lokesh":27}
print(salaries)
print(type(salaries))

print(salaries.keys())
print(salaries.values())

print(salaries["Govind"])

print(salaries.get("Mohan", 23))

{'Bharath': 25, 'Govind': 23, 'Lokesh': 27}
<class 'dict'>
dict_keys(['Bharath', 'Govind', 'Lokesh'])
dict_values([25, 23, 27])
23
23

In [33]:
# sets

s = set()
print(type(s))
s.add(1)
s.add(2)

s
print(1 in s)
print(3 in s)

<class 'set'>
True
False

# Hands on Data types

In [40]:
# lists
nums = [1,2,3,4,5]
print(nums)
nums.append(6)
print(nums)

nums.pop() # removes the last item in the list if we don't index any value
print(nums)

for x in nums: # loop through the data
    print(x)
print("Done")

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
1
2
3
4
5
Done

In [48]:
# dictionaries
sal = {"Bharath":14, "Mohan":21}

print(sal)
sal["Andy"] = 15
print(sal)

del sal["Andy"] # delete the data in dic...
print(sal)

for item in sal.keys():  # loop through only keys
    print(item)
     
for item in sal.values():  # loop through only keys
    print(item)
    
for key, val in sal.items(): # loop both items
    print(key, val)
    
print("Bharath" in sal)

{'Bharath': 14, 'Mohan': 21}
{'Bharath': 14, 'Mohan': 21, 'Andy': 15}
{'Bharath': 14, 'Mohan': 21}
Bharath
Mohan
14
21
Bharath 14
Mohan 21
True

In [54]:
# set 

s = {1,2,3}
print(type(s))
s.add(4)
s.add(5)

for num in s: # loop through data
    print(num)
    
print(3 in s)

<class 'set'>
1
2
3
4
5
True

# hands on Comprehensions

In [63]:
ex = []                   # normal
for x in range(0,10):
    ex.append(x)
print(ex)
print()

lis = [x for x in range(0,10)]  # list comprehensions
tuples = tuple((x for x in range(0,10)))  # tuples comprehensions
sets = {x for x in range(0,10)}   # sets comprehensions
dicti = {x:x*x for x in range(0,10)}   # dictionaries comprehensions

print(lis)
print(tuples)
print(sets)
print(dicti)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# conditional Statements

In [65]:
x = 20

if x < 20:
    print("X is less than 20")
else:
    print("X is greater than 20")

X is greater than 20

In [66]:
x = 20

if x < 20:
    print("X is less than 20")
elif x == 20:
    print("X is equla to 20")
else:
    print("X is greater than 20")

X is equla to 20

In [72]:
# nested if else

x = 20
if x < 20:
    print("X is less than 20")
    if x < 15:
        print("X is less than 15")
    else:
        print("X is greater than 20")
elif x == 20:
    print("X is equal to 20")
else:
    print("X is greater than 20")

X is equal to 20

# Looping Statements

In [7]:
# for Loop

for x in range(0,10):
    print(x)
    
for x in range(0, 10):
    print(x, end=", ") # using end function
    
print()
nums= [x for x in range(0, 10, 2)]  # using list
for x in nums:
    print(x, end=", ")

0
1
2
3
4
5
6
7
8
9
0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
0, 2, 4, 6, 8,

In [9]:
# break Statement
nums1 = [x for x in range(0, 10)]

for x in nums1:
    if (x == 6):
        break
    print(x)

0
1
2
3
4
5

In [10]:
# continue Statement
nums1 = [x for x in range(0, 10)]

for x in nums1:
    if (x == 6):
        continue
    print(x)

0
1
2
3
4
5
7
8
9

In [11]:
# While loop

a = 10
while a != 0:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

# functions in python

In [16]:
# difference between functions and lambda
def multiply(x, y): # using function
    return(x * y)
print(multiply(2,2))

x = lambda x, y: x * y  # using same logic in lambda
x(2, 2)

4

4

In [17]:
# power of lambda

def myfunc(n):
    return lambda a: a + n
mysum = myfunc(3)
print(mysum(10))

13

In [25]:
# functions
def downloadfile(url):
    print(f"Establish Connection: {url}")
    print(f"Open connection: {url}")
    print("Download Data")
    print("Close connection" +"\n")
    
    
downloadfile("www.abc.com")
downloadfile("www.123.com")
downloadfile("www.xyz.com")


def multiply(x, y):
    return(x * y)

print(multiply(2, 2))
print(multiply(2, 3))
print(multiply(2, 4))
print(multiply(2, 5))
print(multiply(2, 6))

Establish Connection: www.abc.com
Open connection: www.abc.com
Download Data
Close connection

Establish Connection: www.123.com
Open connection: www.123.com
Download Data
Close connection

Establish Connection: www.xyz.com
Open connection: www.xyz.com
Download Data
Close connection

4
6
8
10
12

In [26]:
# lambda function
lamul = lambda x, y: x * y

print(lamul(2, 2))
print(lamul(2, 3))
print(lamul(2, 4))
print(lamul(2, 5))
print(lamul(2, 6))

4
6
8
10
12

# File Handling in python

In [17]:
f = open("sample.txt", "x")   # create a file
f.close()

FileExistsError: [Errno 17] File exists: 'sample.txt'

In [18]:
with open("sample.txt", "w") as f:
    f.write("sample Line \nsample line 2\n")  # write a data to the file
f.close()

In [20]:
with open("sample.txt", "a") as f:    # adding a date to the file
    f.write("New line\n")
f.close()

In [21]:
with open("sample.txt", "r") as f:
    for l in f.readlines():             # reading first 2 line in the file
        print(l, end=" ")
f.close()

sample Line
 sample line 2
 New line
 New line

In [23]:
with open("sample.txt", "r") as f:
    print(f.read())   
f.close()

sample Line
sample line 2
New line
New line

# OOPS in Python

In [28]:
class Dog:
    def __init__(self, name):
        self.name = name
        print("object with name: {}".format(name))
        
    def talk(self):
        print("woof!")
    
    def printname(self):
        print(f"My name is: {self.name}")
        
    def __str__(self):
        return self.name
        
        
dog1 = Dog("Charlie")
dog2 = Dog("Bruno")

dog1.talk()
dog1.printname()
dog2.talk()
dog2.printname()

print(dog1)
print(dog2)

object with name: Charlie
object with name: Bruno
woof!
My name is: Charlie
woof!
My name is: Bruno
Charlie
Bruno

# inheritance in python

In [11]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def sayName(self):
        print("My name is: {}".format(self.name))
        
class Engineer(Person):
    def __init__(self,name):
        super().__init__(name)
        self.profession = "Engineer"
        
    def sayProfession(self):
        print(self.profession)
        
class Doctor(Person):
    def __init__(self,name):
        super().__init__(name)
        self.profession = "Doctor"
        
    def sayProfession(self):
        print(self.profession)
        
engineer = Engineer("Bharath")
doctor = Doctor("Bharath2")
engineer.sayName()
engineer.sayProfession()

doctor.sayName()
doctor.sayProfession()

My name is: Bharath
Engineer
My name is: Bharath2
Doctor

In [14]:
# multilevel inheritance
class A:
    def printA(self):
        print("From A")
    
class B:
    def printB(self):
        print("From B")
    
class C(A,B):
    def printC(self):
        print("From C")
        
obj = C()
obj.printA()
obj.printB()
obj.printC()

From A
From B
From C

In [16]:
# overriding vs Overloading
class Base:
    def add(self, a, b):
        return a + b

class Derived(Base):
    def add(self, a, b, c):
        return a + b + c

obj = Base()
derived = Derived()
print(obj.add(2, 3))
print(derived.add(2, 3, 4))

5
9

In [19]:
def add(*args):
    result = 0
    for x in args:
        result += x
    return result

print(add(1,2))
print(add(1,2,3,4,5,7))

3
22