# Python Full Course

In [1]:
print("Hello, World!")

Hello, World!

# Data Types

In [2]:
name = "John"
type(name) # string type

str

In [3]:
num = 1
type(num) # integer type

int

In [4]:
num = 1.5
type(num) # floating Type

float

In [6]:
# Assigning the variable
age = 25
name = "Bharath"
height = 5.8

print(f"Hello {name} Your age is {age} and your height is {height}")

Hello Bharath Your age is 25 and your height is 5.8

In [10]:
# Assigning the multiple values

a = b = c=10
print(a)
print(b)
print(c)

a,b,c = 10, 15, 20
print(a,b,c)

10
10
10
10 15 20

# python arithamatic operators

In [16]:
a = 10
b = 5

add = a + b
print(add)     # addition
sub = a - b
print(sub)     # subtraction
mul = a * b
print(mul)     # multiplication
div = a / b
print(div)     # division
modu = a // b
print(modu)    # integer division

15
5
50
2.0
2

# Python assignment Operators

In [13]:
x = 10
print(x)
x +=  2
print(x)
x -= 29
print(x)
x *= 12
print(x)
x /= 3
print(x)

10
12
-17
-204
-68.0

# python logical operators

In [20]:
x = 15
y = 16 

print(x == y)  # equal operator
print(x != y)  # Not equal operator

print(x == 15 and y != 16) # and operator 
print(x == 15 or y != 16) # or operator 

10 is not 10

False
True
False
True

<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-20-4090796311e5>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not 10

False

#

# Data types

In [7]:
# Strings
string = "abcdefgh"
print(len(string))

print(string[0])  # index
print(string[0:4]) # slicing
print(string[4:])
print(string[:-1]) # reverse slicing

string.replace("f","g")  # replace the letter

8
a
abcd
efgh
abcdefg

'abcdeggh'

In [13]:
# tuples

weeks = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print(weeks)
print(type(weeks))

print(weeks[3])

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
<class 'tuple'>
Wednesday

In [21]:
# lists

months = ["January", "Febraury", "March", "April", "May", "June", "July"]
print(type(months))

months[3] = "Summer"
months.append("August")
months

<class 'list'>

['January', 'Febraury', 'March', 'Summer', 'May', 'June', 'July', 'August']

In [28]:
# Dictionaries  

salaries = {"Bharath":25, "Govind":23, "Lokesh":27}
print(salaries)
print(type(salaries))

print(salaries.keys())
print(salaries.values())

print(salaries["Govind"])

print(salaries.get("Mohan", 23))

{'Bharath': 25, 'Govind': 23, 'Lokesh': 27}
<class 'dict'>
dict_keys(['Bharath', 'Govind', 'Lokesh'])
dict_values([25, 23, 27])
23
23

In [33]:
# sets

s = set()
print(type(s))
s.add(1)
s.add(2)

s
print(1 in s)
print(3 in s)

<class 'set'>
True
False

# Hands on Data types

In [40]:
# lists
nums = [1,2,3,4,5]
print(nums)
nums.append(6)
print(nums)

nums.pop() # removes the last item in the list if we don't index any value
print(nums)

for x in nums: # loop through the data
    print(x)
print("Done")

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
1
2
3
4
5
Done

In [48]:
# dictionaries
sal = {"Bharath":14, "Mohan":21}

print(sal)
sal["Andy"] = 15
print(sal)

del sal["Andy"] # delete the data in dic...
print(sal)

for item in sal.keys():  # loop through only keys
    print(item)
     
for item in sal.values():  # loop through only keys
    print(item)
    
for key, val in sal.items(): # loop both items
    print(key, val)
    
print("Bharath" in sal)

{'Bharath': 14, 'Mohan': 21}
{'Bharath': 14, 'Mohan': 21, 'Andy': 15}
{'Bharath': 14, 'Mohan': 21}
Bharath
Mohan
14
21
Bharath 14
Mohan 21
True

In [54]:
# set 

s = {1,2,3}
print(type(s))
s.add(4)
s.add(5)

for num in s: # loop through data
    print(num)
    
print(3 in s)

<class 'set'>
1
2
3
4
5
True

# hands on Comprehensions

In [63]:
ex = []                   # normal
for x in range(0,10):
    ex.append(x)
print(ex)
print()

lis = [x for x in range(0,10)]  # list comprehensions
tuples = tuple((x for x in range(0,10)))  # tuples comprehensions
sets = {x for x in range(0,10)}   # sets comprehensions
dicti = {x:x*x for x in range(0,10)}   # dictionaries comprehensions

print(lis)
print(tuples)
print(sets)
print(dicti)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# conditional Statements

In [65]:
x = 20

if x < 20:
    print("X is less than 20")
else:
    print("X is greater than 20")

X is greater than 20

In [66]:
x = 20

if x < 20:
    print("X is less than 20")
elif x == 20:
    print("X is equla to 20")
else:
    print("X is greater than 20")

X is equla to 20

In [72]:
# nested if else

x = 20
if x < 20:
    print("X is less than 20")
    if x < 15:
        print("X is less than 15")
    else:
        print("X is greater than 20")
elif x == 20:
    print("X is equal to 20")
else:
    print("X is greater than 20")

X is equal to 20